Often rented movies

In [ ]:
SELECT movie_id -- Select movie IDs with more than 5 views
FROM renting
GROUP BY movie_id
HAVING COUNT(*) > 5
ORDER BY movie_id

In [ ]:
SELECT *
FROM movies
WHERE movie_id IN  -- Select movie IDs from the inner query
    (SELECT movie_id
    FROM renting
    GROUP BY movie_id
    HAVING COUNT(*) > 5
    ORDER BY movie_id)

Frequent customers

In [ ]:
SELECT *
FROM customers
WHERE customer_id IN -- Select all customers with more than 10 movie rentals
    (SELECT customer_id
    FROM renting
    GROUP BY customer_id
    HAVING COUNT(*) > 10
    ORDER BY customer_id);

Movies with rating above average

In [ ]:
SELECT AVG(rating) -- Calculate the total average rating
FROM renting;

In [ ]:
SELECT 
    movie_id,  -- Select movie IDs and calculate the average rating 
    AVG(rating)
FROM renting
GROUP BY movie_id
HAVING AVG(rating) >  -- Of movies with rating above average
        (SELECT AVG(rating)
        FROM renting);

In [ ]:
SELECT title -- Report the movie titles of all movies with average rating higher than the total average
FROM movies
WHERE movie_id IN
    (SELECT movie_id
     FROM renting
     GROUP BY movie_id
     HAVING AVG(rating) > 
        (SELECT AVG(rating)
         FROM renting)
     ORDER BY movie_id);

Analyzing customer behavior

In [ ]:
-- Count movie rentals of customer 45
SELECT COUNT(*)
FROM renting as r
WHERE r.customer_id = 45;

In [ ]:
-- Select customers with less than 5 movie rentals
SELECT *
FROM customers as c
WHERE 5 > 
    (SELECT COUNT(*)
     FROM renting as r
     WHERE r.customer_id=c.customer_id);

Customers who gave low ratings

In [ ]:
-- Calculate the minimum rating of customer with ID 7
SELECT MIN(rating)
FROM renting
WHERE customer_id = 7;

In [ ]:
SELECT *
FROM customers AS c
WHERE 4 >  -- Select all customers with a minimum rating smaller than 4
    (SELECT MIN(rating)
     FROM renting AS r
     WHERE r.customer_id = c.customer_id);

Movies and ratings with correlated queries

In [ ]:
SELECT *
FROM movies AS m
WHERE 5 < -- Select all movies with more than 5 ratings
    (SELECT COUNT(rating)
     FROM renting AS r
     WHERE r.movie_id = m.movie_id);

In [ ]:
SELECT *
FROM movies AS m
WHERE 8 <  -- Select all movies with an average rating higher than 8
    (SELECT AVG(rating)
     FROM renting AS r
     WHERE r.movie_id = m.movie_id);

Customers with at least one rating

In [ ]:
-- Select all records of movie rentals from customer with ID 115
SELECT *
FROM renting
WHERE customer_id = 115;

In [ ]:
SELECT *
FROM renting
WHERE rating IS NOT NULL -- Exclude those with null ratings
    AND customer_id = 115;

In [ ]:
SELECT *
FROM renting
WHERE rating IS NOT NULL -- Exclude null ratings
    AND customer_id = 1; -- Select all ratings from customer with ID 1

In [ ]:
SELECT *
FROM customers AS c -- Select all customers with at least one rating
WHERE EXISTS
    (SELECT *
     FROM renting AS r
     WHERE rating IS NOT NULL 
     AND r.customer_id = c.customer_id);

Actors in comedies

In [ ]:
SELECT *  -- Select the records of all actors who play in a Comedy
FROM actsin AS ai
LEFT JOIN movies AS m
    ON ai.movie_id = m.movie_id
WHERE m.genre = 'Comedy';

In [ ]:
SELECT *
FROM actsin AS ai
LEFT JOIN movies AS m
    ON m.movie_id = ai.movie_id
WHERE m.genre = 'Comedy'
    AND ai.actor_id = 1; -- Select only the actor with ID 1

In [ ]:
SELECT *
FROM actors AS a
WHERE EXISTS
    (SELECT *
     FROM actsin AS ai
     LEFT JOIN movies AS m
         ON m.movie_id = ai.movie_id
     WHERE m.genre = 'Comedy'
         AND ai.actor_id = a.actor_id);

In [ ]:
SELECT 
    -- Report the nationality and number of actors for each nationality
    a.nationality,  
    COUNT(*) 
FROM actors AS a
WHERE EXISTS
    (SELECT ai.actor_id
     FROM actsin AS ai
     LEFT JOIN movies AS m
        ON m.movie_id = ai.movie_id
     WHERE m.genre = 'Comedy'
         AND ai.actor_id = a.actor_id)
GROUP BY a.nationality;

Young actors not coming from the USA

In [ ]:
SELECT 
    name,   -- Report the name, nationality and the year of birth
    nationality, 
    year_of_birth
FROM actors
WHERE nationality <> 'USA'; -- Of all actors who are not from the USA

In [ ]:
SELECT 
    name, -- Report the name, nationality and the year of birth
    nationality, 
    year_of_birth
FROM actors
WHERE year_of_birth > '1990'; -- Of all actors who are not from the USA

In [ ]:
SELECT 
    name, 
    nationality, 
    year_of_birth
FROM actors
WHERE nationality <> 'USA'
UNION -- Select all actors who are not from the USA and all actors who are born after 1990
SELECT 
    name, 
    nationality, 
    year_of_birth
FROM actors
WHERE year_of_birth > 1990;

In [ ]:
SELECT 
    name, 
    nationality, 
    year_of_birth
FROM actors
WHERE nationality <> 'USA'
INTERSECT -- Select all actors who are not from the USA and who are also born after 1990
SELECT 
    name, 
    nationality, 
    year_of_birth
FROM actors
WHERE year_of_birth > 1990;

Dramas with high ratings

In [ ]:
SELECT movie_id -- Select the IDs of all dramas
FROM movies
WHERE genre = 'Drama';

In [ ]:
SELECT movie_id -- Select the IDs of all movies with average rating higher than 9
FROM renting
GROUP BY movie_id
HAVING AVG(rating) > 9;

In [ ]:
SELECT movie_id
FROM movies
WHERE genre = 'Drama'
INTERSECT  -- Select the IDs of all dramas with average rating higher than 9
SELECT movie_id
FROM renting
GROUP BY movie_id
HAVING AVG(rating)>9;

In [ ]:
SELECT *
FROM movies
WHERE movie_id IN -- Select all movies of genre drama with average rating higher than 9
   (SELECT movie_id
    FROM movies
    WHERE genre = 'Drama'
    INTERSECT
    SELECT movie_id
    FROM renting
    GROUP BY movie_id
    HAVING AVG(rating)>9);