First account for each country

In [ ]:
SELECT
  country,
  MIN(date_account_start) AS first_account
FROM customers
GROUP BY country
ORDER BY first_account ASC;

Average movie ratings

In [ ]:
SELECT 
    movie_id, 
    AVG(rating) -- Calculate average rating per movie
FROM renting
GROUP BY movie_id;

In [ ]:
SELECT 
    movie_id, 
    AVG(rating) AS avg_rating, -- Use as alias avg_rating
    COUNT(rating) AS number_rating, -- Add column for number of ratings with alias number_rating
    COUNT(*) AS number_renting -- Add column for number of movie rentals with alias number_renting
FROM renting
GROUP BY movie_id;

In [ ]:
SELECT 
    movie_id, 
    AVG(rating) AS avg_rating,
    COUNT(rating) AS number_ratings,
    COUNT(*) AS number_renting
FROM renting
GROUP BY movie_id
ORDER BY avg_rating DESC; -- Order by average rating in decreasing order

Average rating per customer

In [ ]:
SELECT 
    customer_id,  -- Report the customer_id
    AVG(rating), -- Report the average rating per customer
    COUNT(rating), -- Report the number of ratings per customer
    COUNT(*) -- Report the number of movie rentals per customer
FROM renting
GROUP BY customer_id
HAVING COUNT(*) > 7 -- Select only customers with more than 7 movie rentals
ORDER BY AVG(rating); -- Order by the average rating in ascending order

Join renting and customers

In [ ]:
SELECT * -- Join renting with customers
FROM renting AS r
LEFT JOIN customers AS c
    ON r.customer_id = c.customer_id;

In [ ]:
SELECT *
FROM renting AS r
LEFT JOIN customers AS c
    ON r.customer_id = c.customer_id
WHERE c.country = 'Belgium'; -- Select only records from customers coming from Belgium

In [ ]:
SELECT 
    AVG(r.rating) -- Average ratings of customers from Belgium
FROM renting AS r
LEFT JOIN customers AS c
    ON r.customer_id = c.customer_id
WHERE c.country='Belgium';

Aggregating revenue, rentals and active customers

In [ ]:
SELECT *
FROM renting AS r
LEFT JOIN movies AS m -- Choose the correct join statment
    ON r.movie_id = m.movie_id;

In [ ]:
SELECT 
    SUM(m.renting_price), -- Get the revenue from movie rentals
    COUNT(*), -- Count the number of rentals
    COUNT(DISTINCT r.customer_id)  -- Count the number of customers
FROM renting AS r
LEFT JOIN movies AS m
    ON r.movie_id = m.movie_id;

In [ ]:
SELECT 
    SUM(m.renting_price), 
    COUNT(*), 
    COUNT(DISTINCT r.customer_id)
FROM renting AS r
LEFT JOIN movies AS m
    ON r.movie_id = m.movie_id
-- Only look at movie rentals in 2018
WHERE date_renting BETWEEN '2018-01-01' AND '2018-12-31' ;

Movies and actors

In [ ]:
SELECT 
    a.name, -- Create a list of movie titles and actor names
    m.title
FROM actsin AS ai
LEFT JOIN movies AS m
    ON m.movie_id = ai.movie_id
LEFT JOIN actors AS a
    ON a.actor_id = ai.actor_id;

Income from movies

In [ ]:
SELECT 
    m.title,  -- Use a join to get the movie title and price for each movie rental
    m.renting_price
FROM renting AS r
LEFT JOIN movies AS m
    ON r.movie_id=m.movie_id;

In [ ]:
SELECT 
    rm.title, -- Report the income from movie rentals for each movie 
    SUM(rm.renting_price) AS income_movie
FROM (
    SELECT 
        m.title,  
        m.renting_price
    FROM renting AS r
    LEFT JOIN movies AS m
        ON r.movie_id = m.movie_id) AS rm
GROUP BY rm.title
ORDER BY income_movie DESC; -- Order the result by decreasing income

Age of actors from the USA

In [ ]:
SELECT 
    a.gender, -- Report for male and female actors from the USA 
    MIN(a.year_of_birth), -- The year of birth of the oldest actor
    MAX(a.year_of_birth) -- The year of birth of the youngest actor
FROM (
    SELECT * -- Use a subsequent SELECT to get all information about actors from the USA
    FROM actors
    WHERE nationality = 'USA') AS a -- Give the table the name a
GROUP BY a.gender;

Identify favorite movies for a group of customers

In [ ]:
SELECT *
FROM renting AS r
LEFT JOIN customers AS c
    ON c.customer_id = r.customer_id  -- Add customer information
LEFT JOIN movies AS m
    ON m.movie_id = r.movie_id;   -- Add movie information

In [ ]:
SELECT *
FROM renting AS r
LEFT JOIN customers AS c
    ON c.customer_id = r.customer_id
LEFT JOIN movies AS m
    ON m.movie_id = r.movie_id
WHERE c.date_of_birth BETWEEN '1970-01-01' AND '1979-12-31'; -- Select customers born in the 70s

In [ ]:
SELECT 
    m.title, 
    COUNT(*), -- Report number of views per movie
    AVG(r.rating) -- Report the average rating per movie
FROM renting AS r
LEFT JOIN customers AS c
    ON c.customer_id = r.customer_id
LEFT JOIN movies AS m
    ON m.movie_id = r.movie_id
WHERE c.date_of_birth BETWEEN '1970-01-01' AND '1979-12-31'
GROUP BY m.title;

In [ ]:
SELECT 
    m.title, 
    COUNT(*),
    AVG(r.rating)
FROM renting AS r
LEFT JOIN customers AS c
    ON c.customer_id = r.customer_id
LEFT JOIN movies AS m
    ON m.movie_id = r.movie_id
WHERE c.date_of_birth BETWEEN '1970-01-01' AND '1979-12-31'
GROUP BY m.title
HAVING COUNT(*) > 1 -- Remove movies with only one rental
ORDER BY AVG(r.rating); -- Order with highest rating first

Identify favorite actors for Spain

In [ ]:
SELECT *
FROM renting as r
LEFT JOIN customers AS c -- Augment table renting with information about customers
    ON r.customer_id = c.customer_id 
LEFT JOIN actsin as ai -- Join the table renting with the table actsin
    ON r.movie_id = ai.movie_id
LEFT JOIN actors as a -- Augment table renting with information about actors
    ON ai.actor_id = a.actor_id;

In [ ]:
SELECT 
    a.name,  
    c.gender,
    COUNT(*) AS number_views, 
    AVG(r.rating) AS avg_rating
FROM renting as r
LEFT JOIN customers AS c
    ON r.customer_id = c.customer_id
LEFT JOIN actsin as ai
    ON r.movie_id = ai.movie_id
LEFT JOIN actors as a
    ON ai.actor_id = a.actor_id

GROUP BY 
    a.name,
    c.gender  -- For each actor, separately for male and female customers
HAVING AVG(r.rating) IS NOT NULL 
  AND COUNT(*) > 5 -- Report only actors with more than 5 movie rentals
ORDER BY 
    avg_rating DESC, 
    number_views DESC;

In [ ]:
SELECT 
    a.name,  
    c.gender,
    COUNT(*) AS number_views, 
    AVG(r.rating) AS avg_rating
FROM renting as r
LEFT JOIN customers AS c
    ON r.customer_id = c.customer_id
LEFT JOIN actsin as ai
    ON r.movie_id = ai.movie_id
LEFT JOIN actors as a
    ON ai.actor_id = a.actor_id
WHERE c.country = 'Spain'-- Select only customers from Spain
GROUP BY 
    a.name, 
    c.gender
HAVING AVG(r.rating) IS NOT NULL 
  AND COUNT(*) > 5 
ORDER BY 
    avg_rating DESC, 
    number_views DESC;

KPIs per country

In [ ]:
SELECT *
FROM renting AS r -- Augment the table renting with information about customers
LEFT JOIN customers AS c
    ON c.customer_id = r.customer_id
LEFT JOIN movies AS m -- Augment the table renting with information about movies
    ON r.movie_id = m.movie_id
WHERE date_renting >= '2019-01-01'; -- Select only records about rentals since beginning of 2019

In [ ]:
SELECT 
    c.country, -- For each country report
    COUNT(*) AS number_renting, -- The number of movie rentals
    AVG(r.rating) AS average_rating, -- The average rating
    SUM(m.renting_price) AS revenue -- The revenue from movie rentals
FROM renting AS r
LEFT JOIN customers AS c
    ON c.customer_id = r.customer_id
LEFT JOIN movies AS m
    ON m.movie_id = r.movie_id
WHERE date_renting >= '2019-01-01'
GROUP BY c.country;