Exploring the table renting

In [ ]:
SELECT *  -- Select all
FROM renting; -- From table renting

In [ ]:
SELECT
  movie_id,
  rating
FROM renting;

Working with datesExploring the table renting

In [ ]:
SELECT *
FROM renting
WHERE date_renting = '2018-10-09'; -- Movies rented on October 9th, 2018

In [ ]:
SELECT *
FROM renting
WHERE date_renting BETWEEN '2018-04-01' AND '2018-08-31'; -- from beginning April 2018 to end August 2018

In [ ]:
SELECT *
FROM renting
WHERE date_renting BETWEEN '2018-04-01' AND '2018-08-31'
ORDER BY date_renting ASC; -- Order by recency in decreasing order

Selecting movies

In [ ]:
SELECT *
FROM movies
WHERE genre <> 'Drama'; -- All genres except drama

In [ ]:
SELECT *
FROM movies
WHERE title IN ('Showtime', 'Love Actually', 'The Fighter'); -- Select all movies with the given titles

In [ ]:
SELECT *
FROM movies
ORDER BY renting_price; -- Order the movies by increasing renting price

Select from renting

In [ ]:
SELECT *
FROM renting
WHERE date_renting BETWEEN '2018-01-01' AND '2018-12-31' -- Renting in 2018
AND rating IS NOT NULL; -- Rating exists

Summarizing customer information

In [ ]:
SELECT COUNT(*) -- Count the total number of customers
FROM customers
WHERE date_of_birth BETWEEN '1980-01-01' AND '1989-12-31'; -- Select customers born between 1980-01-01 and 1989-12-31

In [ ]:
SELECT COUNT(*) -- Count the total number of customers
FROM customers
WHERE country = 'Germany'; -- Select all customers from Germany

In [ ]:
SELECT COUNT(DISTINCT country) -- Count the number of countries
FROM customers;

Ratings of movie 25

In [ ]:
SELECT 
    MIN(rating) AS min_rating, -- Calculate the minimum rating and use alias min_rating
    MAX(rating) AS max_rating, -- Calculate the maximum rating and use alias max_rating
    AVG(rating) AS avg_rating, -- Calculate the average rating and use alias avg_rating
    COUNT(rating) AS number_ratings -- Count the number of ratings and use alias number_ratings
FROM renting
WHERE movie_id = 25; -- Select all records of the movie with ID 25

Examining annual rentals

In [ ]:
SELECT * -- Select all records of movie rentals since January 1st 2019
FROM renting
WHERE date_renting >= '2019-01-01';

In [ ]:
SELECT 
    COUNT(*), -- Count the total number of rented movies
    AVG(rating) -- Add the average rating
FROM renting
WHERE date_renting >= '2019-01-01';

In [ ]:
SELECT 
    COUNT(*) AS number_renting, -- Give it the column name number_renting
    AVG(rating) AS average_rating  -- Give it the column name average_rating
FROM renting
WHERE date_renting >= '2019-01-01';

In [ ]:
SELECT 
    COUNT(*) AS number_renting,
    AVG(rating) AS average_rating, 
    COUNT(rating) AS number_ratings -- Add the total number of ratings here.
FROM renting
WHERE date_renting >= '2019-01-01';